<div class="container">
  <div class="jumbotron">
    <div class="jumbotron-user-page">
      <h1> Sign Up </h1>
      <p class="lead">Sign Up with us today blablabla</p>

      <%= render partial: 'form' %>

</div>
</div>
</div>


