<div class="container">
  <div class="jumbotron">
    <div class="jumbotron-user-page">
      <h1> Sign In </h1>
      <p class="lead">Welcome back jet-setter! blablabla</p>
      <p class="lead">Sign In to continue...</p>

      <%= render partial: 'form' %> 

</div>
</div>
</div>



